<link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript">
	$(function() {
	$(".pop_link").click(function(e) {
	e.preventDefault();
	$('#dialog-confirm').dialog('open');
	});
	$("#dialog-confirm").dialog({
	resizable:false,height:230,modal:true,minWidth:400,autoOpen:false,
	});
	});
</script>

<h1>Pending Leave application </h1>
<div>
	<%= grid(@timesheet) do |g|

	g.column name: 'Name' do |timesheet|
	emp = Employee.find_by(id: timesheet.employee_id)
	if emp.present?
	emp.forname.concat(" "+emp.forname)
	end
	end

	g.column name: 'From Date' do |timesheet|
	timesheet.from_date.strftime('%d-%m-%Y')
	end

	g.column name: 'To Date' do |timesheet|
	timesheet.to_date.strftime('%d-%m-%Y')
	end

	g.column name: 'Days' do |timesheet|

	Timesheet.business_days_between(timesheet.from_date, timesheet.to_date)

	end

	g.column name: 'Status' do |timesheet|
	timesheet.status
	end

	g.column name: 'Remarks' do |timesheet|
	timesheet.remarks
	end

	if current_employee.is_manager
	g.column name: 'Action', :class=>'actions'  do |ts|
	@theet = Timesheet.find_by(id: ts.id)
	link_to('Approve',timesheet_approve_path(ts.id), :data => {:confirm => 'Are you sure you want to approve the leave application?'}, :title => 'Approve',:class => 'previewButton tip_trigger') +
	link_to('/Decline', '#', :class =>'pop_link' ,:title => 'Decline')
	end
	else
	g.column :class=>'actions'  do |ts|
	Declined Remark
	end
	end
	end -%>
</div>

<div id="dialog-confirm">
	<div>
		<header>
			<h3>Rejection Remark</h3>
		</header>
		<% if @theet.present? %>
		<%= form_for(@theet, action: "reject", controller: "managers" ) do |f| %>

		<div class="modal-body">
			<div class="field">
				<%= f.label :decline_remarks %>
				<br />
				<%= f.text_area :decline_remarks, autofocus: true %>
			</div>
			<%= f.hidden_field :status, :value => "Rejected" %>
		</div>
		<div class="actions">
			<%= f.submit 'submit remark' %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>
