<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "Leave Management System (Mirraw)" %></title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag :application %>
		<%= csrf_meta_tag %>

		<% if employee_signed_in? %>
		<% if current_employee.is_manager %>
		<%= link_to "Manager", managers_path, :method => :get, class: "manager" %>
		<% end %>

		<% if !current_employee.is_manager %>
		<%= link_to "Manage Leave", timesheets_path, :method => :get, class: "timesheet" %>
		<% end %>

		<%= link_to "Sign Out", destroy_employee_session_path, :method => :delete, class: "sign_out" %>
		<% end %>

		<%= yield(:head) %>
	</head>
	<body>
		<div id="container">
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<%end%>
			<%= content_tag :h1, yield(:title) if show_title? %>
			<%= yield %>
		</div>
	</body>
</html>